@media (min-width: 35em) {
  footer {
    & > div:nth-of-type(1) {
      background-color: var(--black);

      & > div:nth-of-type(1) {
        display: flex;

        & > div {
          flex: 10rem 1 1;
          padding-block: 4rem;
          text-align: center;
          color: #ccc;
          & > .fa {
            font-size: 4rem;
            display: block;
          }
          & > p {
            margin-block: 1.2rem;
          }
        }
      }

      & > div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        gap: 3.2rem;
        padding-bottom: 4rem;
        & > a {
          width: 5rem;
          height: 5rem;
          color: white;
          font-size: 1.6rem;
          border-radius: 50%;
          background-color: #063061;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    & > div:nth-of-type(2) {
      background-color: #063061;
      & > div {
        text-align: center;
        padding-block: 1.2rem;
        color: #ccc;
      }
    }
  }
}












@media (max-width: 35em) {
  footer {

    & > div:nth-of-type(1) {
      background-color: var(--black);

      & > div:nth-of-type(1) {
 

        & > div {
     
          padding-block: 4rem;
          text-align: center;
          color: #ccc;
          & > .fa {
            font-size: 4rem;
            display: block;
          }
          & > p {
            margin-block: 1.2rem;
          }
        }
      }

      & > div:nth-of-type(2) {
        display: flex;
        justify-content: center;
        gap: 3.2rem;
        padding-bottom: 4rem;
        & > a {
          width: 5rem;
          height: 5rem;
          color: white;
          font-size: 1.6rem;
          border-radius: 50%;
          background-color: #063061;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    & > div:nth-of-type(2) {
      background-color: #063061;
      & > div {
        text-align: center;
        padding: 2.4rem;
        color: #ccc;
      }
    }
  }
}

